<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>Links</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Our Address</h5>
        <address>
          214, King Street West<br>
          Downtown, Toronto<br>
          ONTARIO<br>
          Tel.: +416 1234 5678<br>
          Fax: +416 8765 4321<br>
          Email: <a href="mailto:ilfornello@food.net">ilfornello@food.net</a>
        </address>
      </div>
      <div class="col-md-6">
        <div style="padding: 40px 10px;">
          <a href="http://google.com/+">Google+</a>
          <a href="http://www.facebook.com/profile.php?id=">Facebook</a>
          <a href="http://www.linkedin.com/in/">LinkedIn</a>
          <a href="http://twitter.com/">Twitter</a>
          <a href="http://youtube.com/">YouTube</a>
          <a href="mailto:">Mail</a>
        </div>
      </div>
    </div>
    <div style="text-align: center">
      <p>© Copyright 2015 Ristorante Il Fornello</p>
    </div>
  </div>
</footer>
