<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5 [translate]="'FOOTER.LINKS'"></h5>
        <ul>
          <li><a href="#" [translate]="'FOOTER.HOME'"></a></li>
          <li><a href="#" [translate]="'FOOTER.ABOUT'"></a></li>
          <li><a href="#" [translate]="'FOOTER.MENU'"></a></li>
          <li><a href="#" [translate]="'FOOTER.CONTACT'"></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 [translate]="'FOOTER.OUR_ADDRESS'"></h5>
        <address>
          <span [innerHTML]="'FOOTER.ADDRESS' | translate" aria-hidden></span><br>
          <span class="fa fa-phone" aria-hidden></span><span>: +416 1234 5678</span><br>
          <span class="fa fa-fax" aria-hidden></span><span>: +416 8765 4321</span><br>
          <span class="fa fa-envelope fa-envelope-black" aria-hidden></span><span>: <a href="mailto:ilfornello@food.net">ilfornello@food.net</a></span>
        </address>
      </div>
      <div class="col-md-6">
        <div class="footer-social-icons">
          <a target="_new" href="http://google.com/+" class="fa fa-google-plus"></a>
          <a target="_new" href="http://www.facebook.com/profile.php?id=" class="fa fa-facebook"></a>
          <a target="_new" href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
          <a target="_new" href="http://twitter.com/" class="fa fa-twitter"></a>
          <a target="_new" href="http://youtube.com/" class="fa fa-youtube"></a>
          <a target="_new" href="mailto:ilfornello@food.net" class="fa fa-envelope fa-envelope-blue"></a>
        </div>
      </div>
    </div>
    <div style="text-align: center">
      <p [translate]="'FOOTER.COPYRIGHT'"></p>
    </div>
  </div>
</footer>
